body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    height: 60px;
    width: 100%;
    display: flex;
    padding: 5px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    border: 1px solid black;
}

header > div.header-icons {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

header > div.header-icons i {
    font-size: 25px;
}

main {
    margin-top: 60px;
    z-index: -1;
}

main > div.marquee {
    background-color: #DBDCE3;
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    
}

main > div.marquee div {
    width: 100%;
    text-align: center;
    display: inline-block;
    animation: slide 10s 5s linear infinite;
}

main > div.marquee div > p:nth-child(2) {
    font-weight: normal;
    font-size: 0.8em;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translate(-200%);
    }
}

main > .hero-section {
    padding: 5px;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > .hero-section > .hero-buttons {
    display: flex;
    gap: 20px
}

main > .hero-section > .hero-buttons button {
    height: 40px;
    width: 120px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

main > .hero-section > .hero-buttons button:hover {
    border-color: red;
}

main > .sec {
    height: 100vh;
}

.error-msg {
    display: none;
}

@media screen and (min-width: 361px) {
    header, main {
        display: none;
    }
    
    body {
        background-color: #333;
        color: white;
    }
    
    .error-msg {
        display: block;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 200%;
        text-align: center;
    }
}

main > .featured-products {
    padding: 5px;
}

main > .featured-products > .featured-products-header {
    background-color: #DBDCE3;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > .featured-products > .featured-products-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 45%);
    grid-gap: 5px;
    overflow-x: scroll;
    margin-top: 20px;
    width: 100%;
    scroll-snap-type: x mandatory;
}

main > .featured-products > .featured-products-wrapper .featured {
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    scroll-snap-align: start;
    padding: 5px;
}

.featured-products-wrapper .featured img {
    border-radius: 5px;
}

.featured-products-wrapper .featured p {
    margin: 0 10px;
    font-size: 0.8em;
}

.featured-products-wrapper .featured p.shoe-name {
    font-size: 1em;
    font-weight: bold;
}